@{
    ViewData["Title"] = "Login";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["AlertType"] alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container">
    <h2 class="text-center mb-4">Transfer</h2>
    <form method="post" asp-action="TwoFactorCode" asp-controller="Transfer">
        <div class="mb-3">

            <label for="cardNumber" class="form-label">destination Card</label>
            <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Enter destination Card Number" required>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter The Amount" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Transfer</button>
    </form>
</div>